CONTAINER_PREFIX=Biblioteca
BACKEND_NETWORK_NAME=Biblioteca_net
COMPOSE_PROJECT_NAME=biblioteca

WEBSITE_PORT=8898
TZ=America/Sao_Paulo
APP_ENV=production

SESSION_IDLE_TIMEOUT=3600
SESSION_REGENERATE_INTERVAL=900
MAX_PROFILE_UPLOAD_BYTES=5242880

BACKEND_API_URL=https://api.mahal.pro
BACKEND_TIMEOUT=20

BACKEND_PUBLIC_URL=https://api.mahal.pro

RESET_PASSWORD_PUBLIC_URL=https://plataforma.mahal.pro